<h1>Elastic Settings</h1>

<%= form_tag(admin_elastic_product_settings_path, :method => :put) do %>
  <div class="yui-g">
    <div class="yui-u first">
      <fieldset>
        <label>Incremental Update Enabled:</label>
        <%= check_box_tag('settings[incremental_update_enabled]', '1', Solidus::ElasticProduct::Config.incremental_update_enabled) %>
        <br>
      </fieldset>
    </div>
  </div>
  <p class="form-buttons"><%= button t('save_preferences') %></p>
<% end %>
